POSTGRES_DB=sarakan_app
POSTGRES_USER=postgres
POSTGRES_PASSWORD=CHANGE_ME

DATABASE_URL=postgresql://postgres:CHANGE_ME@db:5432/sarakan_app?schema=public
AUTH_URL=http://187.127.107.15:3000
AUTH_TRUST_HOST=true
AUTH_SECRET=CHANGE_ME
NEXTAUTH_URL=http://187.127.107.15:3000
NEXTAUTH_SECRET=CHANGE_ME
NEXT_PUBLIC_VAPID_PUBLIC_KEY=
VAPID_PRIVATE_KEY=
VAPID_SUBJECT=mailto:admin@sarakan.com
