DATABASE_URL=postgresql://postgres:postgres@db:5432/sarakan?schema=public
NEXTAUTH_URL=http://localhost:3000
NEXTAUTH_SECRET=changeme
POSTGRES_DB=sarakan
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
